.full-screen {
  padding: 5vh;
  background-image: url("../img/text.png");
  background-size: contain;
  font-family: "Open Sans", sans-serif;
}

.page-title {
  display: inline;
  padding: 0.3rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  background: #fff;
}

.rainbow-btn {
  display: block;
  height: 6vh;
  font-size: 1.5rem;
  border: 5px solid;
  border-image: linear-gradient(135deg, #12BCB0 20%, #fd8484 70%);
  border-image-slice: 1;
  background-color: #fff;;
  padding: 0 15px;
  margin-top: 4vh;
  margin-bottom: 6vh;
}