form {
  display: flex;
}

.greeting {
  font-family: 'Bungee Shade', cursive;
  margin: 8vh 0;
  font-size: 3rem;
}

.username-input-container {
  height: 39px;
  width: 240px;
  margin-bottom: 10vh;
}

.typing-img {
  width: 90vw;
  height: 45vh;
}

#username-input {
  font-size: 16px;
}

#submit-button {
  height: 39px;
  font-size: 14px;
  border: 1px solid #28834a;
  background-color: #64ba83;
  text-transform: uppercase;
  padding: 0 15px;
  margin-left: 10px;
  margin-bottom: 10vh;
}