.popup {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.8);
}

.popup-root {
  width: 35%;
  height: 50%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  border: 5px solid;
  border-image: linear-gradient(135deg, #12BCB0 20%, #fd8484 70%);
  border-image-slice: 1;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: linear-gradient(135deg, #FABE0E 20%, #12BCB0 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  font-weight: 700;
}

.popup-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 600;
}

.popup-list li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.player-name:not(:last-child) {
  margin-right: 0.7rem;
}


#quit-results-btn {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}