.rooms-container {
  display: grid;
  gap: 2rem;
  justify-content: space-between;
}

.room-card {
  min-width: 15vw;
  padding: 1rem;
  height: 35vh;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
}

.room:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.room-name {
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  color: #ffffff;
}

.room-connected_users {
  margin-right: auto;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  color: #7c7c7c;
}

#join-btn {
  height: 5vh;
  font-size: 1rem;
  border: 1px solid #7c7c7c;
  color: #7c7c7c;
  padding: 0 1rem;
}

.room-1 {
  background: radial-gradient(#1fe4f5, #3fbafe);
}

.room-2 {
  background: radial-gradient(#fbc1cc, #fa99b2);
}

.room-3 {
  background: radial-gradient(#76b2fe, #b69efe);
}

.room-4 {
  background: radial-gradient(#60efbc, #58d5c9);
}

.room-5 {
  background: radial-gradient(#f588d8, #c0a3e5);
}

@media only screen and (max-width: 499px) {
  .room-container {
    grid-template-columns: repeat(1, 1fr);
  }
}


@media only screen and (min-width: 500px) and (max-width: 799px) {
  .room-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 800px) and (max-width: 1199px) {
  .room-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1200px) {
  .room-container {
    grid-template-columns: repeat(4, 1fr);
  }
}